##### Dirs by path

/build/
/out/
/bin/
/.idea/
/.gradle/
/containers/
/continuous/monitor/bin/
/continuous/monitor/node_modules/

##### Dirs by name

.temp

##### Wildcards

##### Files

/continuous/docker/docker-compose.yml
/continuous/docker/web/Dockerfile
