##### Dirs by path

/build/
/out/
/bin/
/.idea/
/.gradle/
/containers/
/monitor/bin/
/monitor/node_modules/
/DockerPortMan/.idea/
/DockerPortMan/.gradle/

##### Dirs by name

.temp

##### Wildcards

##### Files

/docker/docker-compose.yml
/docker/web/Dockerfile
