/*	=========================================================================
		Page
	========================================================================= */

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	font-family: Consolas, Hack, 'DejaVu Sans Mono', 'Droid Sans Mono', monospace;
	letter-spacing: -0.05em;
	font-size: 2.2em;
	font-weight: bold;
	color: #999;
	background-color: #333;
}

/*	=========================================================================
		Lines
	========================================================================= */

.entry {
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-end;
	overflow: hidden;
	white-space: nowrap;

	/* left is zero for the spinners */
	padding: 0.1em 0.33em 0.1em 0;
	margin: 0.2em 0.5em;

	border-width: 0.1em;
	border-radius: 0.5em;
	border-style: solid;
}

.headerline {
	color: gray;
	border-color: transparent;
}

.line {
	color: white;
}

/*	=========================================================================
		Cells
	========================================================================= */

.e1,
.e2,
.e3,
.e4,
.e5 {
	overflow: hidden;
}

.e2,
.e3,
.e4 {
	border-left: rgba(255, 255, 255, 0.33) 0.15em solid;
	overflow: hidden;
}

.e1 {
	flex-shrink: 1;
	flex-grow: 1;
}

.e2 {
	flex-shrink: 0;
	width: 4.5em;
}

.e3 {
	flex-shrink: 0;
	width: 5.5em;
}

/* parent of subline */
.e4 {
	flex-shrink: 0;
	width: 10em;
	display: grid;
	place-content: center;
}

.e5 {
	flex-shrink: 0;
	width: 0.5em;
}

/* child of e4 */
.subline {
	font-size: 0.65em;
	line-height: 90%;
	place-self: center;
}

.dockerline {
	font-size: 0.425em;
	line-height: 90%;
}

.good {
	border-color: #262;
	background-color: #393;
}

.bad {
	border-color: #622;
	background-color: #933;
}

.in-progress {
	border-color: #444;
	background-color: #555;
}

.unknown {
	color: black;
	border-color: #444;
	background-color: #777;
}

.dockerGood {
	color: white;
}

.dockerBad {
	color: rgba(0, 0, 0, 0.33);
}

.buildnumber {
	opacity: 0.25;
}

/* this must come AFTER e1|e2|e3|e4 to OVERWRITE their values */
.headercell {
	border-left-color: transparent;
	font-style: italic;
}

/*	=========================================================================
		Misc
	========================================================================= */

a:link,
a:visited {
	color: white;
	text-decoration: none;
}

a:hover,
a:active {
	color: white;
	text-decoration: underline;
}

.pageerror {
	color: black;
	background-color: red;
	padding: 2em;
}
